.t-center {
    text-align: center;
}
body {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-image: linear-gradient(to right top, #222222, #1d1d1d, #181818, #131313, #0c0c0c, #0c0c0c, #0c0c0c, #0c0c0c, #131313, #181818, #1d1d1d, #222222);
    padding-top: 8vh;
    min-height: 100vh;
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #363636;
    border: 2px solid #555555;
}


.btn {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #636b6f;
    color: white;
    text-shadow: 1px 1px 5px black;

    .edit {
        background-color: green;
    }
    .delete {
        background-color: red;
    }
}
